<div class="wrapper">
  <div class="issues-container">
    <div class="issue-heading">
      <h1>Issues</h1>
      <a href="./issues/new" class="new-issue-btn">New issue</a>
    </div>
    <hr>
    <ul>
    {{#each viewData.issues}}
    <li class="issue-item">
      <span class="issue-id">#{{this.id}}</span>
      <span class="issue-title">{{this.title}}</span>
      <a href="./issues/{{this.id}}"><i class="fas fa-arrow-circle-right"></i></a>
    </li>
    {{/each}}
    </ul>
  </div>
</div>