<div class="wrapper">
  <div class="issues-container">
    <div class="issue-heading">
      <h1>Create a new issue</h1>
    </div>
    <form class="new-issue-form" action="./issues/create" method="POST">
      <label for="new-issue-title">Issue title:</label>
      <input type="text" name="new-issue-title" id="new-issue-title" required>
      <label for="new-issue-description">Issue description:</label>
      <textarea name="new-issue-description" id="new-issue-description" cols="60" rows="6" ></textarea>
      <input type="submit" class="submit-btn" value="Submit">
    </form>
  </div>
</div>