<div class="new-issue-wrapper">
  <div class="new-issue-container">
    <div class="issue-heading">
      <h1>Create a new issue</h1>
    </div>
    <form class="new-issue-form" action="./issues/create" method="POST">
      <label for="title">Issue title:</label>
      <input type="text" name="title" id="new-issue-title" required>
      <label for="description">Issue description:</label>
      <textarea name="description" id="new-issue-description" cols="60" rows="6" ></textarea>
      <input type="submit" class="submit-btn" value="Submit">
    </form>
  </div>
</div>