<div class="nav-bar-container">
    <ul class="nav-bar">
        <li><i class="fas fa-hourglass-half"></i>  Realtime</li>
        <li><a href="./">Home</a></li>
        <li><a href="./issues">Issues</a></li>
    </ul>
</div>