<div class="nav-bar-container">
    <ul class="nav-bar">
        <li><i class="fas fa-hourglass-half"></i>  Realtime</li>
        <li><a  href="./" class="nav-item">Home</a></li>
        <li><a href="./issues" class="nav-item">Issues</a></li>
        <li><a href="./issues/new" class="new-issue-btn">New issue</a></li>
    </ul>
</div>