<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{baseURL}}" />
    <title>Assignment B2 - Realtime Web Application</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/a16ff294a3.js" crossorigin="anonymous"></script>
    <script type="module" src="./js/index.js"></script>
</head>
<body>
    {{>navbar}}
    {{>flash}}
    {{{body}}}
    {{>footer}}
    
    <!-- Socket.io: Using Handlebars as the template engine on the client.  -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

</body>
</html>